<section class="product-list">
    <div class="product-list__card" *ngFor="let product of products">
        <a routerLink="/products/{{product.id}}" class="product-list__link">
            <img [src]="product.imagem">
            <h2 class="product-item__name">{{product.descricao}}</h2>
            <p class="product-item__price">{{product.preco | currency:"BRL"}}</p>
            <p class="product-item__price-description">{{product.descricaoPreco}}</p>
            <button class="product-item__buy-button">Comprar</button>
        </a>
    </div>
</section>
